.root {
    -fx-background-color:#3f3d56;
}

.left-panel {
    -fx-pref-width: 500;
    -fx-background-color: #f4f4f4;
}

.right-panel {
    -fx-pref-width: 550;
    -fx-padding: 80;
}

.login-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 7;
    -fx-effect:
        dropshadow(
            gaussian,
            rgba(0,0,0,.15),
            40,
            0,
            0,
            10
        );

    -fx-max-width: 1050;
    -fx-max-height: 620;

}

.title {

    -fx-font-size: 27;

    -fx-font-weight: bold;

    -fx-text-fill: #1b2442;

}

.input {
    -fx-pref-width: 350;
    -fx-pref-height: 50;
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 8;
    -fx-border-radius: 3;
    -fx-border-color: transparent;
    -fx-font-size: 15;
    -fx-effect:
        dropshadow(
            gaussian,
            rgba(0,0,0,0.12),
            8,
            0,
            0,
            2
        );

}

.input:focused {

    -fx-border-color: #05AD98;

}

.login-button {

    -fx-pref-width: 350;

    -fx-pref-height: 50;

    -fx-background-color: #05AD98;

    -fx-background-radius: 8;

    -fx-text-fill: white;

    -fx-font-size: 18;

    -fx-font-weight: bold;

}

.login-button:hover {

    -fx-background-color: #06a592;

}

.loading-overlay {
    -fx-background-color: rgba(0,0,0,0.35);
}

.loading-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 30;

    -fx-effect:
        dropshadow(
            gaussian,
            rgba(0,0,0,0.20),
            25,
            0,
            0,
            5
        );
}

.loading-text {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #1b2442;
}

.progress-indicator {
    -fx-progress-color: #05AD98;
}